.fixDiv {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: hotpink;
}

.relativeDiv {
  position: relative;
  left: 50px;
  top: 0px;
  background-color: #5189e3;
}

.absoluteDiv {
  position: absolute;
  left: 0px;
  top: 60px;
  background-color: #c851e3;
}

.father {
  top: 200px;
  padding: 20px;
  border: solid 2px red;
  position: relative;
}

.son {
  border: solid 2px blue;
  position: absolute;
  left: 10px;
  top: 10px;
}